$star-color: #fe8f2e;

.product-reviews-rating-star {
    .customer-rating-label h3 {
        font-weight: bold;
    }
    .rating {
        font-weight: bold;
        margin: 0 5px;
    }
    .recommend {
        margin: 0 5px;
    }
    .stars .star-rating-full,
    .stars .star-rating-half,
    .stars .star-rating-empty {
        color: $star-color;
    }
}

table.customer-pending-reviews-table,
table.customer-reviews-table {
    thead tr th,
    tbody tr td {
        vertical-align: middle;
        text-align: center;

        .rating-star {
            color: $star-color;
        }
    }
}

table.customer-pending-reviews-table {
    td.product-image {
        text-align: center;

        img {
            width: 3em;
            height: auto;
            max-height: 3em;
        }
    }
}

.star-rating-input {
    .stars {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .star {
            padding: 0 2px;
            color: $star-color;
        }
    }
}

.product-review-comments {
    .reviews {
        display: flex;
        flex-direction: column;

        .review-comment {
            padding: 15px;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 10px;

            .rating {
                color: $star-color;
                margin: 0 10px;
            }
            .reviewer {
                flex: 1;
                font-weight: bold;
            }
            .comment {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}
