{% extends "shuup/front/dashboard/dashboard.jinja" %}
{% from "shuup_product_reviews/macros.jinja" import render_reviews_table with context %}
{% from "shuup/front/macros/general.jinja" import render_field with context %}
{% block title -%}{{ _("Reviews") }}{%- endblock %}

{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {{ macros.render_breadcrumb_item(url("shuup:dashboard"), _("Dashboard")) }}
        {{ macros.render_breadcrumb_item(None, _("Reviews"), True) }}
    {% endcall %}
{% endblock %}

{% block dashboard_content %}
    {% set has_reviews = reviews.exists() %}
    {% if reviews_formset %}
        <form method="POST">
        {{ reviews_formset.management_form }}
        {% csrf_token %}
        <h3>{{ _("Products to Review") }}</h3>

        <div class="list-group products-to-review">
            {% for review_form in reviews_formset %}
                {% set review_product = review_form.initial.product %}
                {% set link_product = review_product.variation_parent if review_product.variation_parent else review_product %}

                <div class="list-group-item">
                    {{ review_form.product }}
                    <div class="list-group-item-heading">
                        <a href="{{ url('shuup:product', pk=link_product.pk, slug=link_product.slug) }}">
                            {{ review_form.initial.product.name }}
                        </a>
                    </div>
                    <div class="list-group-item-text">
                        <div class="review-rating">{{ review_form.rating }}</div>
                        <div class="review-comment">{{ render_field(review_form.comment) }}</div>
                        <div class="review-recommend">{{ render_field(review_form.would_recommend) }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">{{ _("Send Review") }}</button>
        </div>
        </form>
    {% endif %}
    {% if has_reviews %}
        <h3>{{ _("Reviews") }}</h3>
        {{ render_reviews_table(reviews) }}
    {% endif %}
    {% if not reviews_formset and not has_reviews %}
        <p>{{ _("No products to review.") }}</p>
    {% endif %}
{% endblock %}
