{% if reviews %}
<div class="product-reviews-rating-star">
    {% if customer_ratings_title %}
    <div class="customer-rating-label">
        <h3>{{ customer_ratings_title }}</h3>
    </div>
    {% endif %}
    <span class="stars">
        {% for full_star in range(full_stars) %}
            <i class="fa fa-star star-rating-full"></i>
        {% endfor %}
        {% if half_star %}
            <i class="fa fa-star-half-o star-rating-half"></i>
        {% endif %}
        {% for empty_star in range(empty_stars) %}
            <i class="fa fa-star-o star-rating-empty"></i>
        {% endfor %}
    </span>
    <span class="rating">{{ rating }}</span>
    <span class="count">
        {%- trans reviews_count=reviews -%}
            {{ reviews_count }} review
        {%- pluralize -%}
            {{ reviews_count }} reviews
        {%- endtrans -%}
    </span>
    {% if show_recommenders and would_recommend %}
    <div class="recommend">
        {{ _("<strong>{recommend_count} of {reviews_count} ({recommend_count_percent})</strong> reviewers would recommend this product to a friend.").format(
            reviews_count=reviews,
            recommend_count=would_recommend,
            recommend_count_percent=would_recommend_perc|percent,
        ) }}
    </div>
    {% endif %}
</div>
{% endif %}
