    {% for option, reviews in ratings.items() %}
        <h3>{{option}}</h3>
        <div class="product-reviews-rating-star{% if minified %} minified{% endif %}">
            {% if minified %}
                <span class="stars">
                    <i class="fa fa-star star-rating-full" aria-hidden="true"></i>
                </span>
                <span class="rating">
                    {{ "%0.1f"|format(rating) }}
                    <span class="sr-only">{{ _("Rating") }}&nbsp;</span>
                </span>
                <span class="count">
                    <span aria-hidden="true">
                        ({{ reviews.reviews }})
                    </span>
                    <span class="sr-only">
                        {%- trans reviews_count=reviews.reviews -%}
                            {{ reviews_count }} review
                        {%- pluralize -%}
                            {{ reviews_count }} reviews
                        {%- endtrans -%}
                    </span>
                </span>
            {% else %}
                {% if customer_ratings_title %}
                    <div class="customer-rating-label">
                        <h3>{{ customer_ratings_title }}</h3>
                    </div>
                {% endif %}
                <span class="stars">
                    {% for full_star in range(reviews.full_stars) %}
                        <i class="fa fa-star star-rating-full"></i>
                    {% endfor %}
                    {% if half_star %}
                        <i class="fa fa-star-half-o star-rating-half"></i>
                    {% endif %}
                    {% for empty_star in range(reviews.empty_stars) %}
                        <i class="fa fa-star-o star-rating-empty"></i>
                    {% endfor %}
                </span>
                <span class="rating">
                    {{ "%0.1f"|format(reviews.rating) }}
                    <span class="sr-only">{{ _("Rating") }}&nbsp;</span>
                </span>
                <span class="count">
                    {%- trans reviews_count=reviews.reviews -%}
                        {{ reviews_count }} review
                    {%- pluralize -%}
                        {{ reviews_count }} reviews
                    {%- endtrans -%}
                </span>
            {% endif %}
        </div>
    {% endfor %}
